<div class="container profile">
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<%= image_tag @user.image.url, :size => "250x200", :crop => :fill %></br>
			<%= link_to "Edit My Profile", edit_user_path(current_user) %>
		</div>
		<div class="col-md-5">	
			<h1><%= @user["name"] %></h1>
			<p><%= @user["program"] %></p>
			<p>Currently located in <%= @user["location"] %>.</p>	
			<p><%#= @user["current_status"] %></p>	
		</div>	
	

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            <h2>My Work</h2>
              <hr class="small">

              <div class="row">
              	<div class="col-md-6">
                    <div class="portfolio-item">
                        <% if @more_repos %>
                		<h1>Github:</h1>
                		<p><%= @user.username %></p>
							<% @more_repos.each do |repo| %>
							<%= link_to repo.html_url, repo.html_url %><br/>
							<% end %>
						<% end %>
                    </div>
                </div> <!--  end of block -->
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <% if @user.linkedin_datum %>
							<div>
								<h1>Linkedin</h1>
								<div class="linkedin-right">
									<%= image_tag $pictures.all.first, width: "139px", height: "139px", id: "linkedin_image_show" %>
								</div>
								<div class="linkedin-left">
									<p style="color: black">
										<%= @user.linkedin_datum.name %>
										<%= $safety.headline %>
										<%= $the_groups %>	
										<%= $dance %>	
										
										<% $safety.each do |safe| %>
											<%= safe %>
											<br/>
										<% end %>	
									</p>
								</div>	
							</div>
						<% end %>
                    </div>
                </div>  <!--  end of block -->
              </div> <!-- /.row (nested) -->
              
                <a href="#" class="btn btn-dark">View More Items</a>
              
                </div>
            </div>
        </div>
    <!-- /.container -->
</section>



	<!-- <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>About Me</h2>
			<p><%#= @user["description"] %></p>
		</div>
	</div> -->



</div>

</div>


