<%= image_tag @user.image.url, :size => "400x300", :crop => :fill %>

<h1><%= @user["email"] %></h1>
<p><%= @user["name"] %></p>
<p><%= @user["program"] %></p>
<p><%= @user["location"] %></p>
<p><%= @user["current_status"] %></p>
<p><%= @user["description"] %></p>

<%= link_to "Edit My Profile", edit_user_path(current_user) %>